.feedListing {
	margin: 5px 0 10px;
}

.feedListing li {
	background: #fff;
	padding: 5px 5px 5px 30px;
	color: #828282;
	line-height: 1.6;
	font-size: 9px;
	display: flex;
	align-items: baseline;
}

.feedListing li:nth-child(2n+1) {
	background-color: #f6f6ef;
}

.comentCount,
.upvoteCount {
	padding-right: 20px;
	width: 18px;
	text-align: start;
	display: inline-flex;
	justify-content: flex-end;
}

.feedTitle {
	font-size: 12px;
	color: #000000;
}

.upvoteCount {
	padding-right: 1px;
	margin-left: 5px;
}

.upvoteCount.upvoted {
	color: #ff6600;
}

.upvoteIcon {
	margin-right: 4px;
	margin-left: 2px;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.hideFeed,
.feedTitle,
.feedAuthor {
	color: #000000;
	margin: 0 2px;
}

.feedCreatedTime,
.feedAuthor {
	white-space: nowrap;
}

.hideFeed:hover {
	text-decoration: underline;
}

.feedDomain {
	word-break: break-word;
}

.feedListing li.paginationContainer {
	color: #ff6600;
	font-size: 12px;
}

@media screen and (max-width: 767px) {
	.feedTitle,
	.feedDomain {
		display: block;
		margin-left: 0;
	}
}