* {
  box-sizing: border-box;
}

html, body, p, a, ul, li {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  line-height: 24px;
}

a {
  text-decoration: none;
  color: grey;
}

ul {
  list-style-type: none;
}