{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "linebreak-style": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "enforceDynamicLinks": 0
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
