
/*====== Colors=========*/

/*====== White Colors=========*/
$white: #ffffff;
$cosmic-latte: #f9fef9;
$light-white: #fafafa;
$white-smoke: #f5f5f5;

/*====== Black/Grey Colors=========*/
$charcoal: #4a4a4a;
$black: #000000;
$light-grey: #d8d8d8;
$nero: #282828;
$nobile-grey: #9b9b9b;
$dim-grey: #696969;
$dark-grey: #a5a5a5;
$zumthor-grey: #cad2d3;
$shady-grey: #979797;
$jumbo-grey: #878786;

/*====== Green Colors=========*/
$apple-green: #4bc04e;
$granny-apple-green: #95e5b3;
$mountain-meadow: #1bcb7b;
$green-teal: #09b466;
$pigment-green: #01a053;
$mint-green: #8ee6be;
$ocean-green: #4cb567;
$kelley-green: #009d3d;

/*====== Yellow Colors=========*/
$light-yellow: #f5a623;

/*====== Orange Colors=========*/
$burnt-orange: #ff6600;

/*====== Blue Colors=========*/
$blue: #007fff;
$dodger-blue: #2f88ef;
$egyptian-blue: #174f93;

/*====== Red Colors=========*/
$radical-red: #ff495a;
$coral-red: #ff3041;

