@import '../../common/colors.scss';

.btn-component {
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: 0;
}

.secondary {
  color: $black;
}

.primary {
  color: $orange;
}

.other {
  color: $white;
}
