@import "../../sass/abstract/variables";
@import "../../sass/abstract/mixins";

.newsfeed__article {
  @include display-flex(row);
  justify-content: space-between;
  padding: 0.2rem;
  &_box1 {
    width: 8%;
    text-align: right;
  }
  &_box2 {
    @include display-flex(row);
    justify-content: space-between;
    width: 7%;
    margin-right: 0.8rem;
    &_C1 {
      margin-right: 0.4rem;
      text-align: right;
      width: 70%;
    }
    &_C2 {
      width: 30%;
      text-align: right;
    }
  }
  &_box3 {
    width: 85%;
    color: $color-grey-1;
    &_title {
      color: $color-black;
      font-size: 1.2rem;
    }

    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        border-bottom: 1px solid $color-grey-1;
      }
    }
    &_author,
    &_hide {
      color: $color-black;
      cursor: pointer;
      a:hover {
        border-bottom: 1px solid $color-black;
      }
    }
  }
}

.grey_bg_color {
  background-color: $color-grey-2;
}

.points_color_lighter {
  color: lighten($color: $header-bg-color, $amount: $color-lighter-percent);
}
.points_color_light {
  color: lighten($color: $header-bg-color, $amount: $color-light-percent);
}

.points_color_normal {
  color: $header-bg-color;
}

.points_color_dark {
  color: darken($color: $header-bg-color, $amount: $color-dark-percent);
}

.points_color_darker {
  color: darken($color: $header-bg-color, $amount: $color-darker-percent);
}
