@import '../../styles/theme.scss';
@import '../../styles/media.scss';

.news-item {
    display: flex;
    padding: .5rem 0;
    align-items: center;

    &__comment-count, &__points {
        flex: 12%;
        text-align: end;
    }

    &__upvote {
        flex: 5%;
        color: #999999;
        font-size: 100%;
    }

    &__title {
        flex: 71%;
        margin-left: 1rem;
        word-break: break-word;

        span {
            font-size: 80%;
            color: #999999;

            b {
                color: #000000;
                font-weight: normal;
            }
        }
    }

    &__hide {
        font-size: 100%;
    }

    &.odd {
        background-color: #efefef;
    }
}

@include tablet {
    .news-item {
        &__comment-count, &__points { flex: 8%; }
        &__upvote { flex: 4%; }
        &__title { flex: 80%; }
    }
}

@include desktop {
    .news-item {
        &__comment-count, &__points { flex: 5%; }
        &__upvote { flex: 5%; }
        &__title { flex: 88%; }
    }
}