@import '../../helpers/variables.scss';
.feed-container {
	.row:nth-child(odd) {
		background-color: $colorGrey;
	}
	.row:nth-child(even) {
		background-color: $colorLightGrey;
	}
	.arrow {
		cursor: pointer;
	}
	.more {
		a {
			color: $colorPrimary;
			text-decoration: underline;
		}
	}
}

.button {
	padding: 14px 28px;
	font-size: $fontSizeM;
	cursor: pointer;
	display: inline-block;
	color: $colorPrimary;
}
