.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 15vmin;
}
