.list-wrapper {
  display: flex;
  align-items: center;
  font-size: 11px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

  .item {
    list-style-type: none;
    padding: 0 10px;

    &:nth-child(3) {
      font-weight: 600;
      word-break: break-word;
    }
  }
}