// Color variables
$color-white: #fff;
$color-orange: #f60;
$color-black: #000;
$color-grey: #666;
$color-grey-light: #999;
$color-grey-lightest: #eee;
$body-bg-color: $color-white;
$body-font-color: $color-black;
$header-bg-color: $color-orange;
$border-color: $color-white;
