.News-list-item-container .New-upvotes {
    font-size: 0.75rem;
    min-width: 42px;
    text-align: right;
}

.News-list-item-container .New-upvotes-btn {
    min-width: 5px;
}

.News-list-item-container .New-upvotes-btn button {
    display: block;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.News-list-item-container .New-upvotes-count.upvoted {
    color: #ff6600;
}

.News-list-item-container .New-upvotes-btn button.disable {
    border-bottom-color: #999999;
    cursor: default;
}

@media (min-width: 768px) {
    .News-list-item-container .New-upvotes {
        min-width: 60px;
        margin-right: 10px;
    }
}