
$colorPrimary: #f57b22;
$colorSecondary: #B1018E;
$colorBackground: #F7F9FA;
$colorLink: #00A9E0;
$colorSuccess: #77BC1F;
$colorWarning: #F7A800;
$colorError: #E35205;
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorGrey: #e4e4e4;
$colorLightGrey:#dad9d9;





$fontSizeRoot: 10px;
$fontSizeXXS: 1rem;
$fontSizeXS: 1.2rem;
$fontSizeS: 1.4rem;
$fontSizeM: 1.6rem;
$fontSizeL: 2.4rem;


$margin10px: 1rem;
$margin100px: 10rem;

$height35px: 3.5rem;

$fontLight: 300;
$fontMedium: 400;
$fontRegular: normal;
$fontBold: bold;






