
$colorBackgroundLight: #F7F9FA;
$colorBackgroundDark: #eaecec;

$colorPrimary: #ff6600;

$colorWhite: #FFFFFF;
$colorBlack: #000000;

$colorGrey: #e6e6e0;
$colorLightGrey:#f6f6f0;
$colorLink:#828282;


