@import '../../styles/theme.scss';

        .header__navigation__list {
            display: flex;

            li {
                list-style: none;
                padding: .5rem;
                color: $blackColor;
            }

            &--active, &--deactive {
                font-size: 1.1rem;
            }

            &--active {
                color: $whiteColor;
            }
        }
    