.footer {
  background: #f6f6ef;
  -webkit-box-shadow: 0 -2px 12px -8px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 -2px 12px -8px rgba(0, 0, 0, 1);
  box-shadow: 0 -2px 12px -8px rgba(0, 0, 0, 1);
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer button {
  color: #f6f6ef;
  font-size: 0.95rem;
  border-radius: 2px;
  padding: 3px 20px;
  background: #ff742b;
}
