.header-layout {
  background-color: rgb(255, 102, 0);
  display: flex;
  height: 35px;
  align-items: center;
  flex-flow: row;
  padding: 0px 8px;
}

.header-layout .logo {
  border: 1px white solid;
}

.header-layout nav {
  padding: 0px 15px;
  line-height: 0;
}

.header-layout nav span {
  display: inline-block;
  color: #000;
  font-size: 0.7rem;
  cursor: pointer;
  width: 25px;
}

.header-layout nav .selected {
  color: #fff;
  font-weight: bold;
}
