.header-container {
  display: flex;
  width: 100%;
  padding: 2px 0 0 0;
  background-color: #ff6600;
  align-items: center;

  .header-logo {
    border: 1px white solid;
    margin: 2px 0 4px 5px;
    padding: 0 5px 0px 5px;
  }

  .header-nav {
    margin-left: 10px;
    color: white;
    text-align: center;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
