.App-header {
  float: left;
  width: 100%;
  background-color: #f60;
  font-size: calc(10px + 2vmin);
  color: #fff;
  padding: 4px;
  box-sizing: border-box;
}

.App-header .App-logo {
  float: left;
}

.App-header .App-logo img {
  float: left;
  border: 1px solid #fff;
}

.App-header .App-filter {
  float: left;
}

.App-header .App-filter button {
  float: left;
  padding: 0 10px;
  margin: 3px 0;
  border: 1px solid #000;
  border-width: 0 1px 0 0;
  line-height: 14px;
  font-size: 12px;
}

.App-header .App-filter button:hover,
.App-header .App-filter button.active {
  color: #fff;
}

.App-header .App-filter button:last-child {
  border-width: 0;
}

@media (min-width: 768px) {
  .App-header {
    margin-top: 10px;
  }
}
