header {
    position: fixed;
    width: 100%;
    top: 0;

    .header-title {
        display: flex;
        align-items: center;
        padding: 15px 10px;
        background: $theme_color;
        color: $white_color;
        box-sizing: border-box;
    }

    .header-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        width: 20px;
        height: 20px;
        font-size: 12px;
        font-weight: bold;
    }

    .header-name {
        display: flex;
        padding: 0 20px;
        color: $black_color;

        .name-black {
            padding: 0 10px;
            color: $black_color;
            border-left: 2px solid;
            margin: 0 10px;
        }
    }

}