@import "common/icon";
@import "common/variable";

* {
  margin: 0 auto;
  padding: 0;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 14px;
}
html {
  width: 100% !important;
}

.pointer {
  cursor: pointer;
}
