@import "index";

.header {
  background-color: $burnt-orange;
  padding: 6px;
  .headerChild {
    margin-right: 4px;
  }
  .logo {
    border: 1px $white solid;
    display: grid;
  }
  .white {
    color: $white;
  }
}

.newsList {
  caption {
    color: $burnt-orange;
    background: $white-smoke;
  }
  tr:nth-child(odd) {
    background: $light-grey;
  }
  tr:nth-child(even) {
    background: $white-smoke;
  }
  .noPadding {
    padding: 0px;
  }
  .emptyTableRow {
    height: 10px;
  }
  .grey {
    color: $dark-grey;
  }
  .radicalRed {
    color: $radical-red;
  }
  .burntOrange {
    color: $burnt-orange;
  }
  .title {
    text-decoration: none;
    font-weight: 600;
    color: $black;
  }
  .sub-title {
    font-size: 10px;
  }
  .material-icons {
    vertical-align: bottom;
  }
}
