@import "index";

.header {
  background-color: $burnt-orange;
  padding: 6px;
  .header-child {
    margin-right: 4px;
  }
  .logo {
    border: 1px $white solid;
    display: grid;
  }
  .white {
    color: $white;
  }
}

.news-list {
  tr:nth-child(odd) {
    background: $light-grey;
  }
  tr:nth-child(even) {
    background: $white-smoke;
  }
  .no-padding {
    padding: 0px;
  }
  .empty-table-row {
    height: 10px;
  }
  .grey {
    color: $dark-grey;
  }
  .radical-red {
    color: $radical-red;
  }
  .burnt-orange {
    color: $burnt-orange;
  }
  .title {
    text-decoration: none;
    font-weight: 600;
    color: $black;
  }
  .sub-title {
    font-size: 10px;
  }
  .material-icons {
    vertical-align: bottom;
  }
}

.pagination-button {
  color: $burnt-orange;
  background: $white-smoke;
  border: none;
  display: inline-block;
  position: relative;
  top: 8px;
  left: 20px;
}
