@font-face {
  font-family: "Sans";
  src: url("./fonts/Sans.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: url("./fonts/Verdana.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Serifa";
  src: url("./fonts/Serifa.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geneva";
  src: url("./fonts/Geneva.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f6f6f0;
  margin: 0;
  padding: 0;
  font-family: "Sans", "Verdana", "Geneva", sans-serif;
}

.blackClr {
  color: #000;
}

.header {
  background-color: #f60;
  margin: 0;
  padding: 10px 0;
}

.header li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  border-right: 1px solid #000;
  vertical-align: middle;
  color: #000;
}

.header li:last-child,
.header li:first-child {
  border-right: 0;
}

.header li.active {
  color: #fff;
}

.header li a.logo {
  text-indent: -9999;
}

.detail2 a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.detail2 a,
li.news-detail > a,
span.by,
span.time {
  color: #8e8383;
  font-size: 14px;
  font-weight: 600;
}

.header li a {
  background-image: url(./images/news_logo.gif);
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  display: block;
  background-size: contain;
  color: transparent;
}

ul {
  margin: 0;
}

ul.news_list {
  padding: 0;
}

li.news-detail {
  list-style: none;
  padding: 15px 35px;
  background-color: #f6f6f0;
  font-size: 18px;
  color: #000;
}

li.news-detail:first-child {
  padding-top: 40px;
}

span.title {
  padding-left: 15px;
}

li.news-detail span.title {
  font-weight: 600;
}

span.hide,
span.sitestr span {
  color: #8e8383;
}

span.hide button {
  color: #000;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.detail2 {
  margin-left: 162px;
}

span.upvote > span {
  cursor: pointer;
  position: absolute;
  content: " ";
  width: 0;
  top: calc(35% - 8px);
  height: 0;
  right: -15px;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

li.news-detail span {
  padding-right: 10px;
}

li.news-detail span > span {
  padding-right: 0;
}

.detail2 > span:first-child {
  padding-left: 0;
}

li.news-detail span > span.up {
  padding-right: 15px;
}

li.news-detail > span:last-child {
  color: #8e8383;
  font-size: 14px;
  font-weight: 600;
}

li.news-detail > span:last-child > a {
  color: #000;
}

li.news-detail:nth-child(even) {
  background-color: #e6e6e0;
}

span.comments,
span.upvote {
  font-weight: 600;
}

span.comments {
  margin-right: 30px;
}

li.news-detail > span:first-child {
  padding: 0 40px;
}

span.upvote {
  position: relative;
}

span.upvote#orange {
  color: #f60;
}

span.upvote#cherry {
  color: #bd2a2a;
}

.detail1 {
  float: left;
  text-align: right;
  width: 140px;
  margin-right: 15px;
}

.more {
  margin-left: 140px;
  color: #f60;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 10px 0;
  font-size: 16px;
  outline: 0;
  font-weight: normal;
}

.more:hover {
  font-weight: bold;
}

.nomore {
  display: none;
  padding: 30px;
  text-align: center;
}

span.sitestr,
span.by {
  color: #c1baba;
}
