/* Colors */

$color-white: #fff;
$color-black: #000;
$color-dark-gray: #828282;
$color-medium-gray: #e6e6df;
$color-orange: #e96429;
$color-blue: #0000ff;

/* Fonts */
$primary-font: Verdana, Arial, Helvetica, sans-serif;
$bold: 700;

/* Links - variables for link selectors */
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

$font-size-root: 10px;
$font-size-xxs: 1rem;
$font-size-xs: 1.2rem;
$font-size-s: 1.4rem;
$font-size-m: 1.6rem;
$font-size-l: 2.4rem;

$margin10px: 1rem;  

$minwidth35: 3.5rem;