/* Colors */

$color-white: #fff;
$color-black: #000;
$color-dark-gray: #828282;
$color-medium-gray: #e6e6df;
$color-orange: #e96429;
$color-blue: #0000ff;

/* Fonts */
$primary-font: Verdana, Arial, Helvetica, sans-serif;
$bold: 700;

/* Links - variables for link selectors */
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";
