//colors
$header-bg-color: #ff6600;
$body-bg-color: #f6f6ef;
$color-black: #000;
$color-white: #fff;
$color-grey-1: #828282;
$color-grey-2: #f3f3f3;

//thresholds
$medium-scale-devices: 768px;
$color-lighter-percent: 10%;
$color-light-percent: 5%;
$color-dark-percent: 30%;
$color-darker-percent: 50%;
