@import '../../common/colors.scss';

.app-header {
  background-color: $orange;
  min-height: 5vh;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.app-header-logo {
  border: 1px solid $white;
  margin: 0 5px;
}

.app-header-new {
  font-size: 14px;
}

.app-section {
  margin: 0;
  min-height: 95vh;
  font-size: 12px;
  background-color: $off-white;
}

.app-section-more {
  margin: 6px 140px;
  outline: 0;
}

.app-section-top {
  font-size: 14px;
  outline: 0;
}
