.feed-footer {
    background: #EFEFE8;
    min-height: 25px;

    .feed-more-btn {
        color: #E96429;
        cursor: pointer;
        float: left;
        margin-left: 10px;
        border: 0;
        background: none;    
    }
}
