.feed {
  display: flex;
  font-size: $font-size-xxs;
  font-weight: $bold;
  padding: 0.3rem;

  &:nth-child(odd) {
    background-color: $color-medium-gray;
  }
  &__content {
    #{$a-tags} {
      color: $color-dark-gray;
      padding: 0 0.5rem;
      text-decoration: none;
    }
    #{$a-tags-hover} {
      color: $color-blue;
    }
  }
  &__comment {
    text-align: right;
    min-width: $minwidth35;
  }
  &-hide {
    display: none;
  }
  &__upvote {
    flex-direction: row;
    align-items: center;

    min-width: $minwidth35;
 
    text-align: right;
    &-arrow {
      display: inline-block;
      color: $color-dark-gray;

      cursor: pointer;
      &:after {
        content: " \25B2";
      }
    }
  }
  &__content {
        word-break: break-all;
  }
  &__title {
    font-size: $font-size-xxs;
  }
  &__author {
    color: $color-dark-gray;
    padding: 0 0.5rem;
  }
  &__btn {
    color: $color-orange;
    font-weight: $bold;
    &--grey {
      color: $color-dark-gray;
    }
  }
}
@import "../theme/helper";
