.container{
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
  /* flex-wrap: wrap; */
}
.row{
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
}
.row:nth-child(odd){
  background-color: #f6f6ef;
}
.row:nth-child(even){
  background-color: #ccc;
}
footer{
  background-color: #f6f6ef;
  padding-top: 5px;
  padding-bottom: 5px;
}
.description{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width:520px){
  *{
    font-size: 15px;
  }
  .description{
    display: flex;
    flex-direction: column;
  }
  .comments, .upvotes{
    display: flex;
    flex: 0 0 5%;
    margin-right: 15px;
  }
  .root{
    max-width: 100%;
  }
  .app-header, .container{
    width: 100%;
  }
}