body {
  width: 84%;
  margin: auto;
  margin-top: 8px;
}

.news{
  display: flex;
  flex-direction: column;
}

.news .header {
  display: flex;
  height: 24px;
  background-color: #ff6600;
}

.story{
  display: flex;
}