.header {
  background-color: coral;
  height: 40px;
  align-items: center;
  display: flex;
}

.header-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 12px;
}

.header-list__item {
  cursor: pointer;
  color: black;
  font-weight: 600;
  padding: 0 10px;
  font-family: sans-serif;
}

.header-list__item.active {
  color: white;
}

.feed-news {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.feed-news__item .item-row .arrow {
  position: relative;
  cursor: pointer;
  background: none;
  height: fit-content;
  border: none;
  margin: 0;
  margin-right: 10px;
  margin-top: 4px;
}

.feed-news__item .item-row .hide-arrow {
  background: none;
  height: fit-content;
  border: none;
  margin-right: 10px;
}

.feed-news__item .item-row .arrow::before {
  content: "";
  position: absolute;
  border-bottom: 8px solid gray;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.comment {
  padding-left: 30px;
  padding-right: 20px;
  width: 50px;
  text-align: right;
}

.feed-news__item:nth-child(even) {
  background-color: whitesmoke;
}

.feed-news__item {
  padding: 10px;
  display: flex;
}

.item-row {
  width: calc(100% - 80px);
  display: flex;
}

.black-color {
  color: black;
}

.domain-link {
  text-decoration: none;
  color: #818181;
}

.vote {
  color: green;
  width: 50px;
  text-align: right;
}

.unvote {
  color: black;
  font-size: 12px;
  cursor: pointer;
}

.title {
  font-size: 14px;
  color: #818181;
}

.hide-btn {
  font-size: 12px;
  cursor: pointer;
  border: 1px;
  background: none;
  padding-left: 2px;
  padding-right: 2px;
  color: black;
}

.more-btn {
  color: coral;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 16px;
  margin: 10px 155px;
}

@media (min-width: 1280px) {
  .header-list {
    margin-left: 40px;
  }

  .feed-news__item .comment {
    width: 80px;
  }

  .feed-news__item .item-row {
    padding: 0;
  }

  .more-btn {
    margin: 10px 186px;
  }
}
