@import "./sass/index";
html {
  font-size: 62.5%;
}
body {
  color: $color-black;
  font-weight: $bold;
  font-family: $primary-font;
  margin: 0;
  font-size: 1.2rem;
}
button {
  border: 0;
  background: none;
  cursor: pointer;
}
h1 {
  text-align: center;
  color: $color-orange;
}
#{$a-tags} {
  text-decoration: none;
  color: $color-black;
}
