*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Monaco, Consolas, 'Courier New', monospace;
}
